{% extends "base.html" %}

{% block title %}My G-Streaming{% endblock %}
{% block content %}
	<div class="row"> 
		<div class="col-md-8">
			<h3>G-Logs</h3>
			{% if glogs %}
				<table class="table table-hover table-condensed table-striped">
					<thead>
						<tr>
							<th>Title</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for glog in glogs %}
							<tr>
								<td>{{ glog.title }}</td>
								<td><a href="{% url 'glog-edit' id=glog.id %}" class="btn btn-info"><span class="glyphicon glyphicon-edit"></span></a></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% else %}
				{% include 'glogs/block.add_your_voice.html' %}	
			{% endif %}
		</div>
		<div class="col-md-4">
			{% include "mygstreaming/block.about_mygstreaming.html" %}
		</div>
	</div>
{% endblock %}