######################## Django CMS Requirements ############################ 
django-cms==3.0.2
django-classy-tags==0.5 
django-mptt==0.6
django-sekizai==0.7
html5lib==0.999
djangocms-admin-style==0.2.2

#CMS Plugins
djangocms-link==1.3.4
djangocms-column==1.3
djangocms-oembed==0.4.1
djangocms-table==1.0.2

#CMS Text Editor
djangocms-text-ckeditor==2.1.4

#File and image handling
django-filer==0.9.5
cmsplugin-filer==0.9.5
Pillow==2.4.0
