{% extends "base.html" %}

{% block title %}
		<span class="object-title">{{ object.title }}</span>
{% endblock %}
{% block content %}
	<div class="row"> 
		<div class="col-md-8">
			{% include "content/inc.author_line.html" %}
			{% if object.images.all.count %}
				{% include 'content/content.object_images.html' %}	
			{% endif %}
			{{ object.content|safe }}
		</div>
		<div class="col-md-4">
			{% include "accounts/block.author_preview.html" %}
			{% include 'content/block.share_it.html' %}
			{% include 'glogs/block.add_your_voice.html' %}
		</div>
	</div>
{% endblock %}
