{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block title %}Create Your G-Log{% endblock %}
{% block header_extra %}
	{{ form.media }}
{% endblock %}
{% block content %}
	
	<div class="row"> 
        <div class="col-md-9">
        	<form method="POST" action=".">
        		{% csrf_token %}
        		{{ form.non_field_errors }}
	        	<div class="well">
	            	{{ form.title|as_crispy_field }}
	            </div>
	            <div class="well">
		            <label for="id_content" class="control-label requiredField">
						G-Log Content
					</label>
					<textarea name="content" id="id_content" class="wysiwyg-textarea" placeholder="Click here to begin writing..." ></textarea>
				</div>
				<div class="well">
	            	{{ form.tags.errors }}
	            	<label for="id_tags" class="control-label">
						Tags
					</label>
					<div class="controls">
						{{ form.tags }}
					</div>
	            </div>
				<button type="submit" class="btn btn-success pull-right">Post It!</button>
			</form>
		</div>
		<div class="col-md-3">
			{% include 'blogs/block.about_glog.html' %}
		</div>
	</div>

	{% include 'content/inc.wysiwig_init.html' %}

{% endblock %}
