{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block meta_title %}
	Login
{% endblock %}

{% block title %}
	Login
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-lg-8">
			<form method="post" role="form" style="max-width:300px">
				{% csrf_token %}
				{{ form|crispy }}
				<p class="text-right">
					<input class="btn btn-success" type="submit" value="Login" />
				</p>
			</form>			
		</div>	
		<div class="col-lg-4">
			{% include "accounts/block.login_options.html" %}
		</div>
	</div>
{% endblock %}