{% load cms_tags sekizai_tags %}
{% load staticfiles %}
<html>
  <head>
	<title>{% block meta_title %}G-Streaming{% endblock%}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<!-- Bootstrap -->
	<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'gstream/css/style.css' %}" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	<!-- CMS and dynamic css -->
      {% render_block "css" %}

  </head>
  <body>
      {% cms_toolbar %}
      {% placeholder base_content %}
      {% include 'inc.navbar.html' %}

      <div class="container site-wrapper">
       

            {% block content %}{% endblock %}

      </div>

      <!-- Template Javascript Files -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
      <!-- CMS Javascript Files -->
      {% render_block "js" %}
  </body>
</html>