{% load thumbnail %}
<div id="object-carousel" class="carousel slide" data-ride="carousel">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	  	{% for content_image in object.images.all %}
	    <li data-target="#object-carousel" data-slide-to="{{forloop.counter0}}"
	    {% if forloop.counter0 == 0 %} class="active" {% endif %}
	    ></li>
	    {% endfor %}
	  </ol>
	  <div class="carousel-inner">
	  	{% for content_image in object.images.all  %}
		    <div class="object {% if forloop.counter0 == 0 %} active {% endif %}">
		       {% thumbnail content_image.image 600x450 crop=scale as thumb %}
		       {% if content_image.link %}
		       		<a href="{{content_image.link}}" target="{{content_image.target}}">
		       {% endif %}
		       	<img src="{{thumb.url}}"  width="{{ thumb.width }}" height="{{ thumb.height }}">
		       {% if content_image.link %}
		       </a>
		       {% endif %}
		      <div class="container">
		        <div class="carousel-caption">
		          <p>{{content_image.caption}}</p>
		        </div>
		      </div>
		    </div>
		{% endfor %}
	  </div>
	  <a class="left carousel-control" href="#object-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
	  <a class="right carousel-control" href="#object-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- /.carousel -->